---
defs:
  sandbox:
    - spec/defs

manual:
  sandbox:
    - spec/manual

vmod_vlibs:
  sandbox:
    - vmod/vlibs
  dependencies:
    - defs

vmod_rams:
  sandbox:
    - vmod/rams/model
    - vmod/rams/synth
  dependencies:
    - defs

vmod_include:
  sandbox:
    - vmod/include
  dependencies:
    - defs

vmod_nvdla_deps:
  dependencies:
    - manual
    - vmod_vlibs
    - vmod_include
    - vmod_rams

vmod_nvdla_car:
  sandbox:
    - vmod/nvdla/car
  dependencies:
    - vmod_nvdla_deps

vmod_nvdla_cbuf:
  sandbox:
    - vmod/nvdla/cbuf
  dependencies:
    - vmod_nvdla_deps

vmod_nvdla_apb2csb:
  sandbox:
    - vmod/nvdla/apb2csb
  dependencies:
    - vmod_nvdla_deps

vmod_nvdla_bdma:
  sandbox:
    - vmod/nvdla/bdma
  dependencies:
    - vmod_nvdla_deps

vmod_nvdla_cacc:
  sandbox:
    - vmod/nvdla/cacc
  dependencies:
    - vmod_nvdla_deps

vmod_nvdla_cdma:
  sandbox:
    - vmod/nvdla/cdma
  dependencies:
    - vmod_nvdla_deps

vmod_nvdla_cdp:
  sandbox:
    - vmod/nvdla/cdp
  dependencies:
    - vmod_nvdla_deps

vmod_nvdla_cmac:
  sandbox:
    - vmod/nvdla/cmac
  dependencies:
    - vmod_nvdla_deps

vmod_nvdla_csb_master:
  sandbox:
    - vmod/nvdla/csb_master
  dependencies:
    - vmod_nvdla_deps

vmod_nvdla_csc:
  sandbox:
    - vmod/nvdla/csc
  dependencies:
    - vmod_nvdla_deps

vmod_nvdla_glb:
  sandbox:
    - vmod/nvdla/glb
  dependencies:
    - vmod_nvdla_deps
    - vmod_nvdla_car

vmod_nvdla_nocif:
  sandbox:
    - vmod/nvdla/nocif
  dependencies:
    - vmod_nvdla_deps

vmod_nvdla_pdp:
  sandbox:
    - vmod/nvdla/pdp
  dependencies:
    - vmod_nvdla_deps

vmod_nvdla_retiming:
  sandbox:
    - vmod/nvdla/retiming
  dependencies:
    - vmod_nvdla_deps

vmod_nvdla_rubik:
  sandbox:
    - vmod/nvdla/rubik
  dependencies:
    - vmod_nvdla_deps

vmod_nvdla_sdp:
  sandbox:
    - vmod/nvdla/sdp
  dependencies:
    - vmod_nvdla_deps

vmod_nvdla_top:
  sandbox:
    - vmod/nvdla/top
  dependencies:
    - vmod_nvdla_apb2csb
    - vmod_nvdla_cdma
    - vmod_nvdla_cbuf
    - vmod_nvdla_csc
    - vmod_nvdla_cmac
    - vmod_nvdla_cacc
    - vmod_nvdla_sdp
    - vmod_nvdla_pdp
    - vmod_nvdla_cdp
    - vmod_nvdla_bdma
    - vmod_nvdla_rubik
    - vmod_nvdla_glb
    - vmod_nvdla_csb_master
    - vmod_nvdla_nocif
    - vmod_nvdla_retiming
    - vmod_nvdla_car

verif_sim:
  sandbox:
    - verif/sim
  dependencies:
    - vmod_nvdla_top
