## ================================================================
## NVDLA Open Source Project
## 
## Copyright(c) 2016 - 2017 NVIDIA Corporation.  Licensed under the
## NVDLA Open Hardware License; Check "LICENSE" which comes with 
## this distribution for more information.
## ================================================================
##
## set the chip you want to build 
PROJECTS := nv_large nv_small

#=================
# ENV TOOL setup
#=================
# c pre-processor
CPP  := /usr/bin/cpp

# used in ordt to generate reigster, need be newer than 1.7
JAVA := /usr/bin/java

# used in ordt to generate reigster, need be newer than 1.7
PERL := /usr/bin/perl

PYTHON := /home/tools/continuum/Anaconda2-4.4.0/bin/python2.7
